<div class="ui pointing inverted twitter large top fixed menu">
  <div class="container">
    <%= link_to "Home", root_path, class: 'item' %>
    <div class="right menu">
      <div class="item">
        <%= link_to "salir", logout_path, method: "delete" %>
      </div>
    </div>
  </div>
</div>
