<div class="users">
  <div class="users-container">
    <h3>Usuarios disponibles</h3>
    <div class="ui divider">

    </div>
    <% @users.each do |user| %>
    <div>
      <%= link_to user_path(user), class: 'user' do %>
        <div >
          <%= image_tag user.photo.url %>
        </div>
        <div class="">
          <div class="user-name">
            <div style='color: #000; font-weight: bold'><%= user.first_name %></div>
            <div style='color: rgba(0,0,0,0.4)'>@<%= user.email.split('@')[0] %></div>
          </div>
        </div>
      <% end %>
      <div class="ui divider"></div>
    </div>
    <% end %>
  </div>
</div>
